@media screen and (min-width: 480px){
    .container{
        width: 428px;
       
    }

  

    .header .container{
      width: 428px;
     }

    .mob-menu .container{
      width: 428px;
    }

    .mob-tel-link {
      font-size: 36px;
    
     }

     .mob-soc-list {
      gap: 56px;
     
     
    }
     


  

    .overlay{
        height: 428px;
        
    }

    .hero-title {
        font-size: 36px;
    }

    .mission> .container{
        width: 428px;
      }

 

      .footer-input{
         width: 396px;
       
      }



      .modal{
        width: 392px;
        min-height: 576px;
        
      }

      .privacy-text{
        display: unset;
       
        
      } */

      .privacy-link{
        margin-left: unset;
      }
      
      .check-text{
        display: flex;
        flex-wrap: unset;
       
      }
  
}